
@keyframes circular {
    0% {background-color: #303333;
        color: salmon;
        left:150px; top:50px;
        right:100px; bottom:100px;
    }

    50% {background-color: #008793;
        color: whitesmoke;
        left:75px; top:20px;
        right:75px; bottom:60px;
    }

    75% {background-color: #004d7a;
        left:50px; bottom:40px;
        right:50px; bottom:30px;
    }

    100% {background-color: #008793;
        left:25px; bottom:25px;
        right:25px; bottom:20px;
    }
}

.blog-wrapper {
    width: 80%;
    margin: 0 auto;
    padding: 10px;
    font-size: 18px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 600;
    align-content: center;
    align-self: center;
    text-align: center;
}


.blog-wrapper,
.discover_2,
.section-wrap,
.grid1,
.grid2,
.grid3,
.grid,
.blog-text {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}



.blog_header {
    font-size: 42px;
    color: #303333;
    margin: 30px auto 10px auto;
    
}
.blog_header h2 {
    padding: 20px 20px 10px 20px;
    color: salmon;
    
}



.first,
.blog-section,
.third-section {
    max-width: 100%;
    width: 100%;
    height: 600px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}

.first {
    background-color: transparent;
}

.blog-section {
    background-image: url("/static/blog/media/yel_bck.jpg");
    background-color: transparent;
}

.discover_2 {
    color: #303333;
    width: 100%;
    background-image: url("/static/blog/media/guitar_case.jpg");

}

.headliner-text {
    font-family: Lucida Handwriting Fantasy;
    color: rgba(255, 190, 49, 0.978);
    word-spacing: 2px;
    font-size: 21px;
    margin: 10px auto;
    padding: 20px;
    background-color: rgba(48, 48, 48, 0.4);
    width: 80%;
    height: 100px;
    text-shadow: 1px 1px rgba(48, 48, 48, 0.4);

}

.header-grid, 
.btn-wrap {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    padding-top: 40px;
}

.grid {
    width: 50%;
    height: 250px;
    max-height: 350px;
    margin: 10px auto;
    background-color: #303333;
    border: 0.5px solid #00bf72;
    border-radius: 2px;
    box-shadow: 1px 2px 3px #a8eb12;
}

.grid:hover {
    box-shadow: 2px 3px 1px #004d7a;
    border: 1px solid #a8eb12;
}

.left, 
.right,
.middle {
    margin: 10px;
}

.left {
    background-image: url("/static/blog/media/guitar_case.jpg");
}

.right {
    background-image: url("/static/blog/media/black_bck.jpg");
}

.middle {
    background-image: url("/static/blog/media/rd_bck.jpg");
}




.btn-wrap {
    padding: 15px;
    width: 35%;
    margin-right: 20px;
}

.headliner-text {
    font-size: 16px;
    padding-top: 0;
    margin-top: 0;
    color: salmon;
}
.blog-section {
    background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
    max-height: 450px;
}


.section-wrap {
    width: 80%;
    margin: 10px auto;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
   
}

.blog-text {
    font-family: "Raleway";
    letter-spacing: normal;
    line-height: normal;
    color: whitesmoke;
    text-shadow: #303333;
    width: 50%;
    margin: 30px auto;
    padding: 20px;
    font-size: 21px;
    background-image: url("/static/blog/media/gold_bck.jpg");
    z-index: 1;
    position: relative;
    justify-content: center;
    align-self: center;
}

.blog-text > p {
    color: #ffdf5f;
    text-shadow: #004d7a;
    font-family: 'Raleway';
    z-index: 3;
    position: relative;
}


.listen_btn {
    padding: 7px 25px;
    font-size: 24px;
    border-radius: 4px;
    border: 1px solid #303333;
    background-color: orangered;
    color: whitesmoke;
    box-shadow: 1px 2px 3px salmon;
    margin: 0 auto;

}

.listen_btn:hover {
    border:orangered;
    background-color: #303333;
    box-shadow: 1px 2px 3px salmon;
}


.blo_grid {
    width: 100px;
    height: 100px;
    margin: 15px auto;
    border: 1px solid rgb(255, 232, 84, 0.3);
    
}

.blo_grid2 {
    width: 75px;
    height: 75px;
    margin: 15px auto;
    font-size: 16px;
    
}

.blo_grid1,
.blo_grid2,
.blo_grid3 {
    position: relative;
    background-color: transparent;
}

.blo_grid3 {
    width: 50px;
    height: 50px;
    font-size: 10px;
}

.blo_grid3:hover {
    width: 50px;
    height: 50px;
}

.blo_grid1,
.blo_grid2,
.blo_grid3 {
    border-radius: 50%;
    background-color: #ac8900;
    align-self: center;
    text-align: center;
    align-content: center;
    margin: auto;
    box-shadow: 3px 5px 8px rgb(126, 121, 59);
    animation-name: circular;
    animation-duration: 10s;
    animation-delay: -2s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
    animation-timing-function: ease-in-out;
    
}

.blo_grid1 h3 {
    margin: 60px auto;
    padding: 5px;
    text-align: center;
    font-family: Lucida Handwriting Fantasy;
}


.grid-wrap {
    display: flex;
    flex-direction: row;
}




@keyframes raindrop {
    0% { top: 100%; }
    50% { top: 70%;}
    100% { top: 90%; }
}

.raindrop {
    position: absolute;
    top: -10%;
    width: 2px;
    height: 15px;
    background: #004d7a;
    opacity: 0.7;
    animation: raindrop 1s linear infinite;
}

.grid-wrap::before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    width: 1px;
    height: 100%;
    background: linear-gradient(to bottom, transparent, #a8eb12);
    animation: raindrop 1s linear infinite;
    transform: translateX(-50%);
}


.third-section {
    background-image: radial-gradient(to left bottom, #960096, #004d7a, #008793, #00bf72, #a8eb12);
    max-height: 450px;
}