
@keyframes circular {
    0% {background-color: #303333;
        color: salmon;
        left:150px; top:50px;
        right:100px; bottom:100px;
    }

    50% {background-color: #008793;
        color: whitesmoke;
        left:75px; top:20px;
        right:75px; bottom:60px;
    }

    75% {background-color: #004d7a;
        left:50px; bottom:40px;
        right:50px; bottom:30px;
    }

    100% {background-color: #008793;
        left:25px; bottom:25px;
        right:25px; bottom:20px;
    }
}






body {
    position: absolute;
   
}


.blog-wrapper {
    width: 80%;
    margin: 0 auto;
    position: relative;
    font-size: 18px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 600;
    align-content: center;
    align-self: center;
    text-align: center;
    background-color: white;

}

.blog_header {
    font-size: 42px;
    color: #303333;
    margin: 30px auto 10px auto;
    
}
.blog_header h2 {
    padding: 20px 20px 10px 20px;
    
}



.first,
.blog-section {
    max-width: 100%;
    width: 100%;
    height: 600px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
}

.discover_2 {
    color: #303333;
    width: 100%;

}

.header-grid, 
.btn-wrap {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    padding-top: 40px;
}

.grid {
    width: 45%;
    height: 200px;
    max-height: 350px;
    margin: 10px auto;
    background-color: #303333;
}

.left, 
.right,
.middle {
    margin: 10px;
}

.btn-wrap {
    padding: 15px;
    width: 35%;
    margin-right: 20px;
}

.headliner-text {
    font-size: 16px;
    padding-top: 0;
    margin-top: 0;
    color: salmon;
}
.blog-section {
    background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
    max-height: 450px;
}


.section-wrap {
    width: 80%;
    margin: 10px auto;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.blog-text {
    font-family: "Raleway";
    letter-spacing: normal;
    line-height: normal;
    color: whitesmoke;
    text-shadow: #303333;
    width: 50%;
    margin: 20px auto;
    padding: 20px 30px;
    font-size: 21px;
}


.listen_btn {
    padding: 7px 25px;
    font-size: 24px;
    border-radius: 4px;
    border: 1px solid #303333;
    background-color: orangered;
    color: whitesmoke;
    box-shadow: 1px 2px 3px salmon;
    margin: 0 auto;

}

.listen_btn:hover {
    border:orangered;
    background-color: #303333;
    box-shadow: 1px 2px 3px salmon;
}


.blo_grid {
    width: 100px;
    height: 100px;
    margin: 15px auto;
    border: 1px solid orangered;
    
}

.blo_grid2 {
    width: 75px;
    height: 75px;
    margin: 15px auto; 
    
}

.blo_grid2,
.blo_grid3 {
    position: relative;
}

.blo_grid3 {
    width: 100px;
    height: 100px;
}

.blo_grid3:hover {
    width: 50px;
    height: 50px;
}

.blo_grid1,
.blo_grid2,
.blo_grid3 {
    border-radius: 50%;
    background-color: #303333;
    align-self: center;
    text-align: center;
    align-content: center;
    margin: auto;
    box-shadow: 3px 5px 8px black;
    animation-name: circular;
    animation-duration: 10s;
    animation-delay: -2s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
    animation-timing-function: ease-in-out;
    
}

.blo_grid1 h3 {
    margin: 60px auto;
    padding: 5px;
    text-align: center;
}

svg {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 400px;
}



.grid-wrap {
    display: flex;
    flex-direction: row;
}


.