{% extends "fredapp/master.html" %}
{% load static %}
{% block title %} Fredice Music Blog {% endblock %}
{% block content %}
<link rel="stylesheet" href="{% static 'blog/css/blog.css' %}">
<link rel="stylesheet" href="{% static 'fredapp/css/base.css' %}?20240528">


<body>
    <main class="blog-wrapper">
        <section class="first">
            <div class="blog_header">
                <h2>Blog Posts</h2>
            </div>

            <div class="header-grid">
                <div class="grid left"></div>
                <div class="grid right"></div>
                <div class="grid middle"></div>

            </div>
            <div class="btn-wrap subscribe-btn">
                <button class="listen_btn">Listen</button>
            </div>
        </section>
    
        <section class="blog-section">
            <div class="section-wrap">

                <div class="grid-wrap">
                    <div class="blog-grid">
                        <div class="blo_grid1 blo_grid">
                            <h3>Explore</h3>
                        </div>
                        <div class="blo_grid2 blo_grid">
                            <h3>Listen</h3>
                        </div>
                        <div class="blo_grid3 blo_grid">
                            <h3>Share</h3>
                        </div>
                    </div>
                    <div class="blog-text">
                        <p>
                            Ready to embark on a sonic adventure? Dive into FredIce's discography, shop for merch, and stay
                            connected
                            through
                            our social channels. Whether you're a long-time fan or just discovering our music, there's always
                            something
                            new to
                            explore in FredIce's vibrant world.
                        </p>
                    </div>
                    <div class="blog-grid">
                        <div class="blo_grid1 blo_grid">
                            <h3>Explore</h3>
                        </div>
                        <div class="blo_grid2 blo_grid">
                            <h3>Listen</h3>
                        </div>
                        <div class="blo_grid3 blo_grid">
                            <h3>Share</h3>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="third-section">
            <div class="blog-grid">
                <ul>
                    {% for post in posts %}
                    <li>{{ post.title }} by {{ post.author }} on {{ post.date_posted }}</li>
                    {% endfor %}
                </ul>
            </div>
        </section>
        <script src="{% static 'blog/scripts/blog_script.js' %}"></script>
    </main>
</body>
{% endblock %}